* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

body {
    background-color: #ffdbb6;
    color: #1a2a4f;
    font-family: "Varela Round", sans-serif;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px white;
}

body::-webkit-scrollbar {
    display: none;
}

/*  */

/* navbar */


.container {
    width: 100%;
    background-color: #ffdbb6;
    z-index: 2;
    left: 0;
    box-shadow: 2px 2px 5px #00000072;
    right: 0;
    top: 0;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container a {
    font-size: 23px;
    color: #1a2a4f;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
    text-decoration: none;
    /* text-shadow: 3px 2px 5px #00000042; */
    transition: 0.3s ease;
}

.contact2 {
    display: none;
}

.container ul li a:hover {
    background-color: #1a2a4f;
    text-shadow: 2px 2px 5px black;
    padding: 6px 8px;
    border-radius: 50px;
    color: #fff2ef;
}

.nav_menu {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.nav_menu li {
    list-style: none;
}

.ri-menu-2-fill {
    font-size: 1.5rem;
    display: none;
}

.menubtn {
    position: relative;
}

.menubtn input {
    opacity: 0;
    z-index: 2;
    width: px;
    height: 35px;
    display: none;
}

.container .contactbtn,
.container .logo {
    box-shadow: 2px 2px 5px #00000078;
    text-shadow: 2px 2px 5px black;
    padding: 15px;
    width: auto;
    margin: 0 20px;
    background-color: #1a2a4f;
    color: #fff2ef;
    border-radius: 50px;
    transition: 0.3s ease;
}

.logo:hover,
.contactbtn:hover {
    background-color: hsl(222, 50%, 31%);
    padding: 12px 17px;
}

/* Akhir Navbar */

/* Header */

#hero {
    width: 100%;
    padding-top: 30px;
    scroll-margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 30px auto;
    position: relative;
}

.sub_judul {
    color: white;
    text-shadow: 2px 2px black;
}

.head .sub_judul {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
}

.header_image {
    max-width: 360px;
}

.header_image img {
    max-width: 300px;
}

.header_content {
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
}

.header_content h1 {
    font-size: 2.5rem;
}

.sosmed_icon {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.sosmed_icon a {
    margin: 0 5px;
    color: #1a2a4f;
    font-size: 30px;
}

.image {
    background-color: #1a2a4f;
    border-radius: 25rem;
    box-shadow: 2px 3px 5px black;
    overflow: hidden;
}

.image img {
    object-fit: cover;
    margin-bottom: -5px;
}

/* akhir header */

/* about */
#about {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D2DCB6;
    border-top: 3px solid #1a2a4f;
    border-bottom: 3px solid #1A2A4F;
    scroll-margin-top: 60px;
}

.about_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inner_container_about {
    width: 80%;
    margin-top: 100px;
}


.about_me {
    font-size: 1.7rem;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
    width: 400px;
    margin-left: 22px;
    text-align: left;
}

.about_content {
    width: 100%;
    display: flex;
}



.box_about {
    color: #fff2ef;
    color: #1a2a4f;
    border-radius: 10px;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    height: auto;
    transition: 0.3s ease;
}

.about_img {
    width: 600px;
}

.about_img img {
    width: 100%;
}

.box_about p {
    text-align: justify;
}


.about_background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.background_content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.background_item {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_header {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 1.6rem;
    text-align: center;
}

.background_logo {
    background-color: #1a2a4f;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 100px;
    border-radius: 100%;
    height: 100px;
    padding: 60px;
}

.background_logo img {
    position: absolute;
    width: 100px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.background_title {
    text-align: center;
}

.sekat_background {
    display: block;
    width: 50%;
    background-color: #1a2a4f;
    height: 1px;
    margin: 10px 0;
}

.background_decsription {
    text-align: center;
}

.background_decsription h4 {
    margin-bottom: 5px;
}

/* akhir about */

/* project */
#project {
    width: 100%;
    border-bottom: 3px solid #1A2A4F;
    height: 600px;
    scroll-margin-top: 20px;
}

.project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header_project {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.4rem;
    margin-top: 100px;
    font: bold;
}

.header_project h2 {
    margin-bottom: 5px;
}

.content_project {
    color: #fff2ef;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.project_card {
    border-radius: 20px;
    max-width: 340px;
    padding: 20px;
    margin: 20px 10px;
    background-color: #1a2a4f;
}

.project_card img {
    width: 300px;
    border-radius: 10px;
    border: 6px solid #fff2ef;
}

.project_description {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin-top: 10px;
}

.project_description h3 {
    margin-bottom: 5px;
}

/* Akhir project */

/* Skills */
#skills {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D2DCB6;
    border-bottom: 3px solid #1A2A4F;
    scroll-margin-top: -90px;

}

.skills_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.core_language {
    display: flex;
    flex-direction: column;
}

.skills_description h3,
.skills_description p {
    text-shadow: 2px 2px 5px black;
}

.header_skills {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.skills_content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.skills_description {
    text-align: center;
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 40px 30px;
    font-weight: bold;
    background-color: #1a2a4f;
    color: #fff2ef;
    border-radius: 15px;
}

.skills_description h3 {
    margin-bottom: 30px;
}

/* Akhir Skills */

/* Form */

#contact {
    width: 100%;
    height: 800px;
    scroll-margin-top: -70px;
    display: flex;
}

.form_container {
    width: 60%;
    margin: auto;
    padding: 100px;
    height: auto;
}

.feedback {
    height: 68px;
    margin-bottom: 25px;
    background-color: #1a2a4f;
    line-height: 68px;
    color: #fff2ef;
    padding: 0 20px;
    border-radius: 10px;
    display: none;
}

.feedback span {
    font-size: 1.8rem;
    margin-left: 66%;
    cursor: pointer;
}

div.enabled {
    display: block;
}

.form_header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.entryarea {
    position: relative;
    height: 60px;
    margin-bottom: 50px;
    line-height: 60px;
}

input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 60px;
    border-radius: 10px;
    border: 2px solid #1a2a4f;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1;
}

input.message {
    height: calc(100% + 20px);
}

.labelline {
    position: absolute;
    font-size: 1.4em;
    color: #1a2a4f;
    padding: 0 25px;
    z-index: -1;
    margin: 0 20px;
    background-color: #ffdbb6;
    transition: 0.2s ease;
}

input:focus,
input:valid {
    color: #607b8f;
    border: 4px solid #607b8f;
}

input:focus+.labelline,
input:valid+.labelline {
    color: #607b8f;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1;
}

.submit {
    font-size: 1.4rem;
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1a2a4f;
    color: #fff2ef;
    border: 1px solid;
    cursor: pointer;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff2ef;
    animation: an1 1s ease infinite;
}

/* Animate Keyframe */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes html {
    to {
        width: 70%;
    }
}

li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 60%;
    }
}

li.Js::after {
    animation-name: Js;
}

@keyframes Js {
    to {
        width: 60%;
    }
}

li.RJS::after {
    animation-name: RJS;
}

@keyframes RJS {
    to {
        width: 35%;
    }
}

/* Akhir Keyframe */

/* akhir form */

/* footer */
.footer_content {
    text-align: center;
    margin-top: 150px;
    padding: 20px;
    text-shadow: 2px 2px 5px black;
    background-color: #1a2a4f;
    color: #fff2ef;
    box-shadow: 2px -3px 10px #00000072;
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

/* BreakPoint Section Tablet */
@media screen and (max-width: 1024px) {

    /* navbar */
    .container {
        width: 100%;
    }

    /* akhir navbar */

    /* header */
    .header {
        width: 100%;
    }

    /* akhir header */

    /* about */
    #about {
        height: 1200px;
    }

    .about_container {
        width: 100%;
        height: 100%;
    }

    .inner_container_about {
        width: 100%
    }

    .about_me {
        margin-left: 45px;
    }

    .about_img {
        width: 50%;
    }

    .about_img img {
        width: 100%;
    }

    .about_content {
        justify-content: space-evenly;
    }

    .box_about {
        max-width: 40%;
    }

    /* akhir About */

    /* project */
    #project {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFF2EF;
    }

    .project {
        max-width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .content_project {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .project_card {
        max-width: 340px;
    }

    .project_card img {
        max-width: 300px;
    }

    /* akhir project */

    /* skills */
    #skills {
        height: 1200px;
    }

    .header_skills {
        font-size: 1.8rem;
    }

    .skills_container {
        height: auto;
        max-width: 100%;
    }

    .skills_content {
        flex-direction: space-evenly;
        flex-wrap: wrap;
    }

    .skills_description {
        min-width: 40%;
    }

    .skills_bar {
        min-width: 40%;
    }

    .appear {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
    }

    /* Akhir Skills */

    /* Forms */

    .form_container {}

}


/* Akhir BreakPoint Tablet */

/* responsive breakpoint mobile*/

@media screen and (max-width: 600px) {
    body {
        position: relative;
    }

    /* section navbar */
    .container {
        background-color: #1a2a4f;
        justify-content: space-between;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 10px 20px;
        margin: auto;
        width: 100%;
        height: 85px;
        position: fixed;
    }

    .container .logo {
        background-color: #1a2a4f;
        color: #fff2ef;
        box-shadow: 2px 1px 5px #fff2ef;
    }

    .nav_menu {
        position: absolute;
        width: 30%;
        margin: 0;
        top: 85px;
        right: 0;
        flex-direction: column;
        justify-content: space-around;
        background-color: #ffdbb6;
        border-left: 3px solid #1a2a4f;
        border-bottom: 3px solid #1a2a4f;
        border-bottom-left-radius: 10px;
        transition: 1.3s ease;
        transform: translateX(calc(200%));
    }

    .slide {
        transition: 1s ease;
        transform: translateY(0);
    }

    .contact2,
    .nav_skills,
    .nav_project,
    .nav_about,
    .nav_home {
        display: flex;
        justify-content: center;
    }

    .ri-menu-2-fill {
        display: block;
        font-size: 2.5rem;
        color: #fff2ef;
        text-shadow: 2px 2px 5px black;
    }

    .contactbtn {
        display: none;
    }

    .menubtn input {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .logo:hover {
        background-color: hsl(222, 50%, 31%);
        padding: 12px 17px;
        margin: 10px 0;
    }

    .container ul li a {
        width: 100%;
        padding: 20px 20px;
        text-align: left;
    }

    .container ul li a:hover {
        background-color: #1a2a4f;
        width: 100%;
        height: 100%;
        padding: 25px 25px;
        border-radius: 0;
        color: #fff2ef;
    }

    /* akhir section navbar */

    /* section header */

    #hero {
        width: 100%;
    }


    .header_image {
        max-width: 300px;
        margin-right: 15px;
    }

    .header_image img {
        max-width: 280px;
    }

    .head .sub_judul {
        font-family: "Ephesis", cursive;
        font-weight: 400;
        font-size: 1.8rem;
        font-style: normal;
    }

    .header_content {
        margin-top: 50px;
        text-align: justify;
        margin-right: 10px;
        margin-left: 15px;
    }

    .header_content h1 {
        font-size: 1.5rem;
    }

    /* akhir section header */

    /* section about */
    #about {
        height: auto;
    }

    .inner_container_about {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header_image img {
        max-width: 150px;
    }

    .about_me {
        font-size: 1.7rem;
        width: 100%;
        padding: 0;
        margin: 50px 0;
        text-align: center;
    }

    .about_content {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    .box_about {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .background_content {
        flex-direction: column;
    }

    .background_item {
        margin-bottom: 50px;
    }

    .about_background {
        margin-top: 50px;
    }

    /* akhir section about */

    /* section project */
    #project {
        height: 1400px;
        margin: 0 0;
    }

    .project {
        height: 100%;
    }

    .header_project {
        font-size: 1.7rem;
        text-align: center;
    }

    .content_project {
        border-radius: 20px;
        padding: 10px;
        width: 100%;
    }

    .content_project img {
        width: 100%;
        border-radius: 20px;
    }

    .project_card {
        margin: auto;
        max-width: 90%;
        margin-bottom: 30px;
    }

    .project_description p {
        width: 100%;
    }

    /* akhir project section */

    /* Skills */

    #skills {
        height: 2000px;
    }

    .skills_container {
        height: auto;
    }

    .header_skills {
        font-size: 1.7rem;
    }

    .skills_content {
        flex-wrap: wrap;
    }

    .skills_description {
        width: 90%;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    .skills_bar {
        width: 90%;
        margin-bottom: 30px;
    }

    /* akhir section skills */
    .form_container {
        height: auto;
        padding: 0;
    }

    /* .input {
        font-size: 30px;
    } */

    .form_header {
        font-size: 1.2rem;
    }


    .labelline {
        font-size: 1.2rem;
    }

    .submit {
        font-size: 1.5rem;
        width: 120px;
        padding: 8px 15px;
    }

    .feedback {
        font-size: 1.2rem;
        height: 83px;
        margin-top: -40px;
        line-height: 40px;
    }

    .appear {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;
    }
}