* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFDBB6;
    color: #1A2A4F;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

/* navbar */

.container {
    /* position: fixed; */
    max-width: 80%;
    margin: auto;
    position: relative;
    /* border: 2px solid black; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container a {
    font-size: 25px;
    color: #1A2A4F;
    text-decoration: none;
}


.container span {
    display: inline-block;
    color: #FFF2F2;
    background-color: #7886C7;
    padding: 15px;
    font-size: 2rem;
    border-radius: 50%;
}


.nav_menu_toggle {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.nav_menu_toggle li {
    list-style: none;
}

.ri-menu-2-fill {
    font-size: 1.5rem;
    display: none;
}

.menubtn input {
    opacity: 0;
    z-index: 2;
    position: fixed;
    margin-left: -35px;
    width: 35px;
    height: 35px;
}

.container .contactbtn,
.container .logo {
    padding: 10px 15px;
    background-color: #1A2A4F;
    color: #FFF2EF;
    border-radius: 50px;
}

/* Akhir Navbar */


/* Header */

.header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    height: 800px;
    margin: 30px auto;
    position: relative;
}

.header_image {
    /* border: 2px solid; */
    max-width: 460px;
    /* position: absolute; */
    /* z-index: -1; */
    top: 133px;
    right: 30px;
}

.header_image img {
    border: 6px solid #FFF2EF;
    max-width: 560px;
    border-radius: 25rem;
    z-index: -1;
}

.header_content {
    margin-top: -100px;
    text-align: center;
    /* border: 2px solid; */
    /* width: 150px; */
}

.header_content h1 {
    font-size: 3rem;
}

/* akhir header */

/* about */
.about_container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    max-width: 80%;
    height: 800px;
    margin: auto;
    /* border: 2px solid; */
}

.about_me {
    margin-top: 150px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.about_content {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.box_about {
    color: #FFF2EF;
    background-color: #1A2A4F;
    padding: 30px;
    border-radius: 30px;
    margin-top: 50px;
    font-size: 1.6rem;
    text-align: center;
    width: 30%;
    height: auto;
    border: 2px solid;
}

/* akhir about */

/* Project */
.project {
    /* border: 2px solid; */
    max-width: 80%;
    margin: auto;
    height: 800px;
}

.header_project {
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font: bold;
}

.content_project {
    /* border: 2px solid black; */
    /* width: 400px; */
    text-align: center;
    /* background-image: url("img\animate\cropped-3840-2160-1321959.png"); */
    color: #FFF2EF;
    display: flex;
    justify-content: space-between;
}

.project_card {
    /* border: 2px red; */
    border-radius: 30px;
    width: 400px;
    padding: 25px 10px;
    margin: 20px 10px;
    background-color: #1A2A4F;
}

.project_card img {
    border-radius: 30px;
    border: 6px solid #FFF2EF;
}

.project_description {
    margin-top: 10px;
}

/* Akhir Project */

/* Skills */
.skills_container {
    /* border: 2px solid; */
    max-width: 80%;
    text-align: center;
    margin: auto;
    height: 800px;
}

.header_skills {
    font-size: 2.5rem;
}

.skills_content {
    display: flex;
    justify-content: center;
}

.skills_description {
    text-align: left;
    border: 2px solid;
    width: 500px;
    margin: 50px auto 0 auto;
    padding: 30px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #1A2A4F;
    color: #FFF2EF;
    border-radius: 30px;
}

.skills_description h3 {
    margin-bottom: 30px;
}

.skills_bar {
    width: 500px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: #1A2A4F;
    text-align: left;
    border-radius: 30px;
    color: #FFF2EF;
}

.skills_bar ul li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.skills_bar ul li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

.skills_bar ul li::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html::after {
    animation-name: html;
}

/* Akhir Skills */

/* Form */

.form_container {
    /* border: 2px solid; */
    max-width: 80%;
    margin: auto;
    height: 800px;
}

.entryarea {
    position: relative;
    height: 80px;
    margin-bottom: 50px;
    line-height: 80px;
}

input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid #1A2A4F;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

input.message {
    height: calc(100% + 20px);
}

.labelline {
    position: absolute;
    font-size: 1.6em;
    color: #1A2A4F;
    padding: 0 25px;
    margin: 0 20px;
    background-color: #FFDBB6;
    transition: 0.2s ease;
}

input:focus,
input:valid {
    color: #66ff00;
    border: 4px solid #66ff00;
}

input:focus+.labelline,
input:valid+.labelline {
    color: #66ff00;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
}

@keyframes html {
    to {
        width: 70%;
    }
}

li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 60%;
    }
}

li.Js::after {
    animation-name: Js;
}

@keyframes Js {
    to {
        width: 60%;
    }
}

li.RJS::after {
    animation-name: RJS;
}

@keyframes RJS {
    to {
        width: 35%;
    }
}