* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFDBB6;
    color: #1A2A4F;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

/* navbar */

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #FFDBB6;
    z-index: 2;
    left: 0;
    box-shadow: 2px 3px 10px #00000072;
    right: 0;
    top: 0;
    position: fixed;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container a {
    font-size: 25px;
    color: #1A2A4F;
    text-decoration: none;
    text-shadow: 3px 2px 5px #00000042;
    transition: .3s ease;
}

.contact2 {
    display: none;
}

.container ul li a:hover {
    background-color: #1A2A4F;
    padding: 6px 8px;
    border-radius: 50px;
    color: #FFF2EF;
}


.nav_menu {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.nav_menu li {
    list-style: none;
}

.ri-menu-2-fill {
    font-size: 1.5rem;
    display: none;
}

.menubtn {
    position: relative;
}

.menubtn input {
    opacity: 0;
    z-index: 2;
    width: px;
    height: 35px;
    display: none;
}

.container .contactbtn,
.container .logo {
    box-shadow: 2px 3px 5px #00000078;
    padding: 15px;
    width: auto;
    margin: 0 20px;
    background-color: #1A2A4F;
    color: #FFF2EF;
    border-radius: 50px;
    transition: .3s ease;
}

.logo:hover,
.contactbtn:hover {
    background-color: hsl(222, 50%, 31%);
    padding: 12px 17px;
}

/* Akhir Navbar */


/* Header */

.header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    height: 800px;
    margin: 30px auto;
    position: relative;
}

.header_image {
    max-width: 460px;
    right: 30px;
}

.header_image img {
    border: 6px solid #FFF2EF;
    max-width: 560px;
    border-radius: 25rem;
    z-index: -1;
}

.header_content {
    margin-top: -100px;
    text-align: center;
}

.header_content h1 {
    font-size: 3rem;
}

/* akhir header */

/* about */
.about_container {
    max-width: 80%;
    height: 800px;
    margin: auto;
}

.about_me {
    margin-top: 150px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.about_content {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.box_about {
    color: #FFF2EF;
    background-color: #1A2A4F;
    box-shadow: 2px 3px 10px #00000072;
    padding: 30px;
    border-radius: 30px;
    margin-top: 50px;
    font-size: 1.6rem;
    text-align: left;
    max-width: 30%;
    height: auto;
    transition: .3s ease;
}

.box_about:hover {
    background-color: hsl(222, 50%, 31%);
}

/* akhir about */

/* gallery */
#gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery {
    max-width: 80%;
    margin: auto;
    height: 800px;
}

.header_gallery {
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font: bold;
}

.content_gallery {
    color: #FFF2EF;
    display: flex;
    justify-content: center;
}

.gallery_card {
    border-radius: 20px;
    max-width: 380px;
    padding: 20px;
    margin: 20px 10px;
    background-color: #1A2A4F;
}

.gallery_card img {
    max-width: 340px;
    border-radius: 10px;
    border: 6px solid #FFF2EF;
}

.gallery_description {
    margin-top: 10px;
}

.gallery_description h3 {
    margin-bottom: 5px;
}

/* Akhir gallery */

/* Skills */
#skills {
    margin-top: 50px;
    width: 100%;
}

.skills_container {
    max-width: 80%;
    text-align: center;
    margin: auto;
    height: 800px;
    margin-bottom: 50px;
}

.header_skills {
    font-size: 2.5rem;
}

.skills_content {
    display: flex;
    justify-content: space-evenly;
}

.skills_description {
    text-align: left;
    border: 2px solid;
    min-width: 250px;
    max-width: 500px;
    margin: 50px auto 0 auto;
    padding: 30px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #1A2A4F;
    color: #FFF2EF;
    border-radius: 30px;
}

.skills_description h3 {
    margin-bottom: 30px;
}

.skills_bar h3 {
    font-size: 2.5rem;
}

.skills_bar {
    min-width: 250px;
    max-width: 500px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: #1A2A4F;
    text-align: left;
    border-radius: 30px;
    color: #FFF2EF;
}

.skills_bar ul li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.skills_bar ul li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

.skills_bar ul li::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html::after {
    animation-name: html;
}

/* Akhir Skills */

/* Form */

.form_container {
    max-width: 80%;
    margin: auto;
    height: auto;
}

.feedback {
    height: 68px;
    margin-bottom: 25px;
    background-color: #1A2A4F;
    line-height: 68px;
    color: #FFF2EF;
    padding: 0 20px;
    border-radius: 10px;
    display: none;
}

.feedback span {
    font-size: 1.8rem;
    margin-left: 66%;
    cursor: pointer;
}

div.enabled {
    display: block;
}

.form_header {
    text-align: center;
    margin-bottom: 80px;
    font-size: 2.5rem;
}

.entryarea {
    position: relative;
    height: 80px;
    margin-bottom: 50px;
    line-height: 80px;
}

input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid #1A2A4F;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1;
}

input.message {
    height: calc(100% + 20px);
}

.labelline {
    position: absolute;
    font-size: 1.6em;
    color: #1A2A4F;
    padding: 0 25px;
    z-index: -1;
    margin: 0 20px;
    background-color: #FFDBB6;
    transition: 0.2s ease;
}

input:focus,
input:valid {
    color: #607B8F;
    border: 4px solid #607B8F;
}

input:focus+.labelline,
input:valid+.labelline {
    color: #607B8F;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1;
}

.submit {
    font-size: 2rem;
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1A2A4F;
    color: #FFF2EF;
    border: 1px solid;
    cursor: pointer;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF2EF;
    animation: an1 1s ease infinite;
}

/* Animate Keyframe */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }

}

@keyframes html {
    to {
        width: 70%;
    }
}

li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 60%;
    }
}

li.Js::after {
    animation-name: Js;
}

@keyframes Js {
    to {
        width: 60%;
    }
}

li.RJS::after {
    animation-name: RJS;
}

@keyframes RJS {
    to {
        width: 35%;
    }
}

/* Akhir Keyframe */

/* akhir form */

/* footer */
.footer_content {
    text-align: center;
    margin-top: 150px;
    padding: 20px;
    background-color: #1A2A4F;
    color: #FFF2EF;
    box-shadow: 2px -3px 10px #00000072;
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}


/* BreakPoint Section Tablet */
@media screen and (max-width: 1024px) {

    /* navbar */
    .container {
        width: 100%;
    }

    /* akhir navbar */

    /* header */
    .header {
        max-width: 100%;
    }

    /* akhir header */

    /* about */
    .about_container {
        max-width: 100%;
        height: auto;
        margin-bottom: 150px;
    }

    .about_content {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .box_about {
        max-width: 40%;
    }

    /* akhir About */

    /* gallery */
    .gallery {
        max-width: 100%;
        height: auto;
        margin-bottom: 150px;
    }

    .content_gallery {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px;
    }

    .gallery_card {
        min-width: 40%;
    }

    .gallery_card img {
        max-width: 100%;
    }

    /* akhir gallery */

    /* skills */

    .skills_container {
        height: auto;
        max-width: 100%;
    }

    .skills_content {
        flex-direction: space-evenly;
        flex-wrap: wrap;
    }

    .skills_description {
        min-width: 40%;
    }

    .skills_bar {
        min-width: 40%;
    }

    .appear {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
    }



}

/* Akhir BreakPoint Tablet */

/* responsive breakpoint mobile*/

@media screen and (max-width: 600px) {

    body {
        position: relative;
    }

    /* section navbar */
    .container {
        background-color: #1A2A4F;
        justify-content: space-between;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 10px 20px;
        margin: auto;
        width: 100%;
        height: 85px;
        position: fixed;
    }

    .container .logo {
        background-color: #1A2A4F;
        color: #FFF2EF;
        box-shadow: 2px 1px 5px #FFF2EF;
    }

    .nav_menu {
        position: absolute;
        width: 30%;
        margin: 0;
        top: 85px;
        right: 0;
        flex-direction: column;
        justify-content: space-around;
        background-color: #FFDBB6;
        border-left: 3px solid #1A2A4F;
        border-bottom: 3px solid #1A2A4F;
        border-bottom-left-radius: 10px;
        transition: 1.3s ease;
        transform: translateX(calc(200%));
    }

    .slide {
        transition: 1s ease;
        transform: translateY(0);
    }

    .contact2,
    .nav_skills,
    .nav_gallery,
    .nav_about,
    .nav_home {
        display: flex;
        justify-content: center;
    }

    .ri-menu-2-fill {
        display: block;
        font-size: 2.5rem;
        color: #FFF2EF;
    }

    .contactbtn {
        display: none;
    }

    .menubtn input {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .logo:hover {
        background-color: hsl(222, 50%, 31%);
        padding: 12px 17px;
        margin: 10px 0;

    }

    .container ul li a {
        width: 100%;
        padding: 20px 20px;
        text-align: left;
    }

    .container ul li a:hover {
        background-color: #1A2A4F;
        width: 100%;
        height: 100%;
        padding: 25px 25px;
        border-radius: 0;
        color: #FFF2EF;
    }

    /* akhir section navbar */

    /* section header */

    .header_image img {
        max-width: 280px;
    }

    .header_content h1 {
        font-size: 2.5rem;
    }

    /* akhir section header */

    /* section about */
    .about_container {
        height: auto;
    }

    .about_me {
        font-size: 1.7rem;
    }

    .about_content {
        flex-direction: column;
        margin-bottom: 150px;
        flex-wrap: wrap;
        align-items: center;
    }

    .box_about {
        max-width: 90%;
        margin-bottom: 20px;

    }

    /* akhir section about */

    /* section gallery */
    .gallery {
        height: auto;
    }

    .header_gallery {
        font-size: 1.7rem;
        text-align: center;
    }

    .content_gallery {
        flex-direction: column;
        /* border: 5px solid red; */
        border-radius: 20px;
        padding: 10px;
        width: 100%;
    }

    .content_gallery img {
        width: 100%;
        border-radius: 20px;
    }

    .gallery_card {
        margin: auto;
        max-width: 90%;
        margin-bottom: 30px;
    }

    .gallery_description p {
        width: 100%;
    }

    /* akhir gallery section */

    .skills_container {
        height: auto;
    }

    .header_skills {
        font-size: 1.7rem;
    }

    .skills_content {
        flex-wrap: wrap;
    }

    .skills_description {
        width: 90%;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    .skills_bar {
        width: 90%;
        margin-bottom: 30px;
    }

    /* akhir section skills */
    .form_container {
        height: auto;
    }

    /* .input {
        font-size: 30px;
    } */

    .form_header {
        font-size: 1.7rem;

    }

    /* .entryarea {
        border: 5px solid red;
    } */

    .labelline {
        font-size: 1.2rem;
    }

    .submit {
        font-size: 1.5rem;
        width: 120px;
        padding: 8px 15px;
    }

    .feedback {
        font-size: 1.2rem;
        height: 83px;
        margin-top: -40px;
        line-height: 40px;
    }

    .appear {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;
    }
}